{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends '::public.html.twig' %}

{% block body %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}

<div id="login-form" >
{{ form(form) }}
</div>
{% endblock %}