{% extends '::admin.html.twig' %}
{% block body %}
    <form name="form" method="post">
        <div id="form">
            <div><label for="form_titre" class="required">Titre</label><input type="text" id="form_titre"
                                                                              name="form[titre]" required="required">
            </div>
            <div><label for="form_description" class="required">Description</label><input type="text"
                                                                                          id="form_description"
                                                                                          name="form[description]"
                                                                                          required="required"></div>
            <div><label for="form_source" class="required">Source</label><input type="text" id="form_source"
                                                                                name="form[source]" required="required">
            </div>
            <div><label class="required">Date debut</label>

                <div id="form_dateDebut"><select id="form_dateDebut_month" name="form[dateDebut][month]">
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May</option>
                        <option value="6">Jun</option>
                        <option value="7">Jul</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select><select id="form_dateDebut_day" name="form[dateDebut][day]">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select><select id="form_dateDebut_year" name="form[dateDebut][year]">
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select></div>
            </div>
            <div><label class="required">Date fin</label>

                <div id="form_dateFin"><select id="form_dateFin_month" name="form[dateFin][month]">
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May</option>
                        <option value="6">Jun</option>
                        <option value="7">Jul</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select><select id="form_dateFin_day" name="form[dateFin][day]">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select><select id="form_dateFin_year" name="form[dateFin][year]">
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}

                    </select></div>
            </div>
            <div>
                <button type="submit" id="form_add" name="form[add]">Add</button>
            </div>
            <input type="hidden" id="form__token" name="form[_token]"
                   value="iADdUB90K_Q2mvBt78rrFq_tFitdAu_AafXeyKmhl-Q"></div>
    </form>
{% endblock body %}