{% extends '::admin.html.twig' %}
{% block body %}
    <form name="form" method="post">
        <div id="form">
            <div><label for="form_titre" class="required">Titre</label><input type="text" id="form_titre"
                                                                              name="{{ news_item.Titre }}" required="required">
            </div>
            <div><label for="form_description" class="required">Description</label><input type="text"
                                                                                          id="form_description"
                                                                                          name="{{ news_item.Description }}"
                                                                                          required="required"></div>
            <div><label for="form_source" class="required">Source</label><input type="text" id="form_source"
                                                                                name="{{ news_item.Source }}" required="required">
            </div>

                <button type="submit" id="form_add" name="form[add]">Add</button>
            </div>
            <input type="hidden" id="form__token" name="form[_token]"
                   value="iADdUB90K_Q2mvBt78rrFq_tFitdAu_AafXeyKmhl-Q"></div>
    </form>
{% endblock body %}