{% extends '::public.html.twig'%}
{% block body %}
    <!-- Header -->
    <div id="header-wrapper">

        <div id="header" class="container">

            <div id="logo"><h1><a href="#">IBN-KHALDOUN</a></h1></div>
            <nav id="nav">
                <ul>
                    <li ><a href="{{ path('public_homepage') }}">accueil</a></li>
                    <li><a href="{{ path('public_discover') }}">Découvrir</a></li>
                    <li><a href="{{ path('public_map') }}">Google Maps</a></li>
                    <li class="current_page_item"><a href="{{ path('public_contact') }}">Equipe</a></li>
                </ul>
            </nav>

        </div>

        <div id="banner">


            <div class="circular">
            </div>



            <div class="circular2">
            </div>



            <div class="circular1">
            </div>




            </section>

        </div>

    </div>
{% endblock body %}