{% extends '::public.html.twig' %}
{% block body %}

    <div id="header-wrapper">

        <div id="header" class="container">

            <div id="logo"><h1><a href="#">Ibn-KHALDOUN</a></h1></div>
            <nav id="nav">
                <ul>
                    <li class="current_page_item"><a href="{{ path('public_homepage') }}">accueil</a></li>
                    <li><a href="{{ path('public_discover') }}">Découvrir</a></li>
                    <li><a href="{{ path('public_map') }}">Google Maps</a></li>
                    <li><a href="{{ path('public_contact') }}">Equipe</a></li>
                </ul>
            </nav>

        </div>

    </div>

    <div id="page">
        <div class="container">
            <div class="row">

                <div id="content" class="12u skel-cell-important">
                    <article>
                        <header>
                            <h2 class="main-title">Découvrir le parcours d'Ibn Khaldoun </h2>
                        </header>
                        <div>
                            <input id="years"  style="width: 100%;" type="range" value="1332" max="1406" min="1332" step="1">

                        </div>

                        <div>
                            Année : <h2 style="display: inline-block; " id="year">1332</h2>
                        </div>

                        <div id="map" style="width: 100%;height: 700px;"></div>


                    </article>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        var map;
        var markers = [];

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 35.705522, lng: -0.641522},
                zoom: 4
            });





            $('#years').on('change', function() {

                deleteMarkers();
                getArticle('article/getjsonarticles/'+this.value,markers);
                document.getElementById('year').innerHTML = this.value;

            });




        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
        function clearMarkers() {
            setMapOnAll(null);
        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        var firstclick = true;
        var coords = {lat: 12, lng:21}
        function getArticle(url,markers) {



            var data = null;
            var articleJson;
            $.get(url,
                    data,
                    function (html) {




                        articleJson = JSON.parse(html);
                        articleJson.forEach(function (s) {




                                coords = {lat: s.latitude, lng: s.longitude};
                                var marker = new google.maps.Marker({
                                    position: coords,
                                    map: map,
                                    title: "Drag me!"
                                })

                                marker.addListener('click', function() {
                                    window.open('article/read/'+s.id,'','');
                                });


                                markers.push(marker);






                        })


                    });
        }






    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByhTAA8NFokUrvnHZvPQqS93bPKrFSOIw&callback=initMap">
    </script>


{% endblock body %}