{% extends '::public.html.twig' %}
{% block body %}


    <div>
        <input id="years"  style="width: 775px;" type="range" value="1332" max="1406" min="1332" step="1">

    </div>

    <div>
        Ann&eacute;e : <h2 style="display: inline-block; " id="year">1332</h2>
    </div>

    <div id="map" style="width: 700px;height: 400px;"></div>
    <script type="text/javascript">

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 35.705522, lng: -0.641522},
                zoom: 4
            });

            var marker = new google.maps.Marker({
                position: {lat: 36.821464, lng:  10.174854},
                map: map,
                title: "Drag me!"
            })



            $('#years').on('change', function() {

                getArticle('article/getjsonarticles/'+this.value,marker);
                document.getElementById('year').innerHTML = this.value;
            });




        }

        var firstclick = true;
        var coords = {lat: 12, lng:21}
        function getArticle(url,marker) {

            var data = null;
            var articleJson;
            $.get(url,
                    data,
                    function (html) {


                        articleJson = JSON.parse(html);
                        articleJson.forEach(function (s) {


                            if(firstclick) {
                                coords = {lat: s.latitude, lng: s.longitude};
                                marker.setPosition(coords);
                                marker.addListener('click', function() {
                                    window.open('article/read/'+s.id,'','');
                                });
                            firstclick=false;

                            }
                            else
                            {
                                marker.setPosition(coords);
                                marker.addListener('click', function() {
                                    window.open('article/read/'+s.id,'','');
                                });
                            }

                        })


                    });
        }






    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByhTAA8NFokUrvnHZvPQqS93bPKrFSOIw&callback=initMap">
    </script>


{% endblock body %}