@charset 'UTF-8';
body, html, div,p {
    margin : 0px;
    padding:0px;
}

html
{
    background:#DADADA ;

}


body
{
    width: 990px;
    margin: -21px auto;
    background-color: #AFAFAF;
    min-height: 800px;
    padding: 20px;
    box-shadow: -1px 20px 23px #656565;
    /* font-family: Arial; */
    font-family: helvetica;
}

#logo
{

    margin: 0px -21px 0px -20px;

    font-size: 15px;

    margin-top: -10px;

    padding: 21px;

    background-color: #868686;

    
    margin-bottom: -48px;

    font-family:     font-family: Thin;

    /* font-family: Thin; */
}

#logo h1 a
{
    color:black;
    text-decoration: none;
}
#logo h1 a:hover
{
    color:black;
    text-decoration: none;
}

#nav
{
    height: 44px;
    margin: 0px -21px 0px -20px;
    background: #BEC1C0;
}

#nav ul
{
    list-style: none;
    display: block;
    margin-top: 50px;
    background-color: black;
}


#nav ul li
{
    display: block;
    float: left;
    height: 39px;
    width: 237px;
    text-align: center;
    line-height: 37px;
    color: #000000;
    font-weight: bold;

}


h2
{
    letter-spacing: -1px;
    font-size: 2.00em;
    font-family:Times new roman ;
    
}

/* Banner */

    #banner
    {
        overflow: hidden;
        padding: 10em 0em;
        text-align: center;
        z-index: 1;
        position: relative;
    }

    #banner header h2
    {
        text-transform: uppercase;
        font-size: 2.3em;
        font-family:Trebuchet MS ;
        color: #000000;
    }

    #banner header .byline
    {
        padding: -2em 5em;
        font-size: 1.50em;
        font-size: 1.5em;
        font-family:Trebuchet MS ;
    }
    
    #banner .button
    {
        margin-top: 1em;
    }


.index-section
   {
       text-align: center;
   }
#nav ul li:hover
{
    border-bottom: 4px #e80048 solid;
}


#nav ul .selected
{
    border-bottom: 4px #e80048 solid !important;
    background-color: #CACACA !important;;
}

.marginAuto
{
    margin:Auto;
}

.bt-grey
{
    display: BLOCK;
    width: 181px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    background-color: #868686;
    color: #000000;
    font-weight: bold;
}

.bt-grey:hover
{
    display: BLOCK;
    width: 181px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    background-color: white;
    color: #000000;
    font-weight: bold;
    border-bottom: 4px #e80048 solid;
}



.main-article
{
    margin-top: 130px;
}

.commentaire
{
    min-height: 50px;
    padding: 12px;
    width: 560px;
    border: 1px #D6D6D6 solid;
    border-radius: 5px;
    margin: 20px 3px;
}

.commentaire p
{
    text-align: right;
    font-size: 10px;
}

p
{
    font-family:Times new roman ;
    text-align: justify;
    font-size: 1em;
}

#bt_map
{
    width: 191px;
    height: 38px;
    float: right;
}