@charset 'UTF-8';
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}



body
{
	margin: 0;
	padding: 0em;
	line-height: 2em;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #686868;
}



.circular {
	width: 300px;
	height:300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/equipe1.jpg) no-repeat center;
	margin-top: -5em;
	margin-left: 11em;
	box-shadow: 1px 1px 12px #555;
	
	}
	
	.circular2 {
	width: 300px;
	height:300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/equipe3.jpg) no-repeat center;
margin-left: 41em;
	margin-top: -22.5em;
	box-shadow: 1px 1px 12px #555;
	
	}

.circular1 {
	width: 300px;
	height:300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/del.jpg) no-repeat center;
	 margin-top: -22em;
	margin-left: 70em;
	box-shadow: 1px 1px 12px #555;
	}

body, #skel-panels-pageWrapper
{
	background: #101214 url(images/main-bg.png) repeat;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #CFCFCF;
}

h2
{
	letter-spacing: -1px;
	font-size: 2.00em;
	font-family:Times new roman ;
	
}

p, ol, ul
{
	margin-top: 1em;
}

p
{
	font-family:Times new roman ;
	text-align: justify;
	font-size: 1.3em;
}

/*laisser un commentaire*/
form {
    
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
	
	
}

label {
    
    display: inline-block;
    width: 90px;
    text-align: justify;
	font-family:Times new roman ;
	font-size: 1.5em;
	
}


input, textarea {
   
    font: 1em sans-serif;

    
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    
    border-color: #000;
}

textarea {
    
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.butt {
    
    
	
}

button {
   
    
	
	position: relative;
		display: inline-block;
		background: #06D103;
		padding: 0.5em 1.5em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 300;
		text-align: center;
		font-family:Trebuchet MS ;
		color: #CFCFCF;
		
}


/*fin*/






a
{
	text-decoration: underline;
	color: #909090;
	
	
}

a:hover
{
	text-decoration: none;
}

/* Image Style 1 */

	.image-style1
	{
		display: block;
		width: 100%;
	}
	
/* Buttons Style 1 */


	.button
	{
		position: relative;
		display: inline-block;
		background: #06D103;
		padding: 0.8em 2em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 300;
		color: #FFF !important;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}

	.button:hover
	{
		background: #089906;
		color: #FFF !important;
	}

	.button-alt
	{
		padding: 0.5em 2em;
		font-size: 1.5em;
	}

/* List Style 1 */

	ul.style1
	{
	}
	
	ul.style1 li
	{
		padding: 0.75em 0 0.75em 0em;
		background: url(images/bullet-icon.png) no-repeat left 50%;
	}
	
	ul.style1 a
	{
		display: block;
		padding-left: 1.50em;
		text-decoration: none;
		color: #909090;
	}
	
	ul.style1 a:hover
	{
		text-decoration: underline;
	}

/* List Style 2 */

	ul.style2 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style2 li {
		clear: both;
		padding: 1em 0em 2em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style2 p
	{
		line-height: 2.20em;
	}
	
	ul.style2 a {
		text-decoration: none;
		color: #909090;
	}
	
	ul.style2 a:hover {
		text-decoration: underline;
	}
	
	
	ul.style2 img {
		float: left;
		margin-right: 1.5em;
		border-radius: 5px;
	}
	
	ul.style2 .first {
		padding-top: 0;
		border-top: none;
	}
	
/* List style 3 */

	ul.style3 {
		margin: 0em;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	
	ul.style3 li {
		padding: 1.75em 0em 1.50em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style3 .heading-title {
		font-size: 1.10em;
		font-weight: bold;
		color: #B8B8B8;
	}
	
	ul.style3 .date {
		display: inline-block;
		margin: 0em 1em 1em 0em;
		text-transform: uppercase;
		font-size: .80em;
		background: #06D103;
		border-radius: 5px;
		border: 1px solid #165272;
		box-shadow: 0px 1px 5px rgba(0,0,0,.4);
		color: #FFFFFF;
	}
	
	ul.style3 .date a
	{
		display: inline-block;
		padding: .5em 1em;
		letter-spacing: 1px;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.10em;
		font-weight: 400;
		color: #FFFFFF;
	}

	ul.style3 a 
	{
		text-decoration: none;
		color: #909090;
	}
	
	ul.style3 a:hover 
	{
		text-decoration: underline;
	}
	
	ul.style3 .first {
		border-top: none;
	}

/* List style 4 */

	ul.style4 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style4 li {
		padding: 0.50em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style4 a {
		padding-left: 1em;
		background: url(images/list-bullet.png) no-repeat left 50%;
		text-decoration: none;
		color: #909090;
	}
	
	ul.style4 a:hover {
		text-decoration: underline;
		color: #06D103;
	}
	
	ul.style4 h3
	{
		padding: 0 0 0.75em 0;
		font-size: 1.10em;
		font-weight: 700;
		color: #B8B8B8;
	}
	
	
	ul.style4 .first {
		padding-top: 0;
		border-top: none;
	}

/* List style 5 */

	ul.style5 
	{
		margin-left: 4em;
	}
	
	ul.style5 li
	{
		line-height: 1.75em;
		list-style: decimal;
	}


	
		
		.pennant
		{
			display: inline-block;
			margin-bottom: 0.50em;
			font-size: 3em;
			color: #FFF;
		}

/* Header */

	#header-wrapper
	{
		background: url(images/banner2.jpg) no-repeat center top;
		background-size: cover;

		position: relative;
	}
	
	#header-wrapper:before
	{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(80,50,70,0.3);
	}
	
	#header {
		position: relative;
		z-index: 1;
	}
	
	header
	{
		margin-bottom: 3em;
		position: relative;
	}

	header h2
	{
		display: block;
		margin: 0;
		padding: 0;
	}

	header .byline
	{
		display: block;
		margin: 1.50em 0em;
		line-height: 2em;
		font-weight: 200;
		color: rgba(255,255,255,0.8);
		
	}

/* Banner */

	#banner
	{
		overflow: hidden;
		padding: 10em 0em;
		text-align: center;
		z-index: 1;
		position: relative;
	}

	#banner header h2
	{
		text-transform: uppercase;
		font-size: 2.3em;
		font-family:Trebuchet MS ;
		color: #FFF;
	}

	#banner header .byline
	{
		padding: -2em 5em;
		font-size: 1.50em;
		font-size: 1.5em;
		font-family:Trebuchet MS ;
	}
	
	#banner .button
	{
		margin-top: 1em;
	}

/* Wrapper */

	#wrapper
	{
		padding: 5em 0em 3em 0em;
	}

	#page
	{	
		padding: 5em 0em 3em 0em;
	}

/* Content */

	#content
	{
	}

	#content a img
	{
		display: block;
		width: 100%;
		margin-bottom: 1.50em;
		border-radius: 5px;
	}

	#content .main-title
	{
		font-size: 3.00em;
	}
	
	#content .button
	{
		margin-top: 2em;
	}

/* Sidebar */

	#sidebar
	{
	}
	
	#sidebar h2
	{
		margin-bottom: 1em;
	}

	#sidebar #box1
	{
		margin-bottom: 3em;
	}
	
	#sidebar #box2 .button
	{
		margin-top: 0;
	}
	
/* Two Column Area */

	#two-column
	{
		overflow: hidden;
		margin-top: 4em;
		padding: 4em 0em 0em 0em;
		border-top: 1px solid #212124;
	}

/* Featured Area */

	#featured-wrapper
	{
		position: relative;
		padding: 6em 0em;
		background: #0c0e0f;
		text-align: center;
	}
	
	#featured-wrapper .button
	{
		margin-top: 2em;
	}
	
	#featured-content
	{
		
	}

	#featured-content h2
	{
	}

	#featured-content img
	{
		float: left;
		margin: 0.85em 2em 0em 0em;
	}




/* Copyright */

	#copyright
	{
		overflow: hidden;
		padding: 3em 0em 6em 0em;
		border-top: 1px solid #212124;
		text-align: center;
	}
	
	#copyright p
	{
		font-size: 1em;
	}
	
	#copyright a
	{
		color: #949494;
	}
	
	#copyright a:hover
	{
		text-decoration: none;
	}







